* {
  box-sizing: border-box;
}

body {
	background: url(images/cutting-board2.jpeg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

header {
	background-color: #262626;
	opacity: .9;
	color: white;
	font-size: 20px ;
	margin: 0px;
}

.hidden {
	display: none;
}

h1 {
	margin: 0px;
	padding: 15px;
}

.search-description {
	font-size: 26px;
	margin-top: 15%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	line-height: 150%;
}

form {
	font-size: 22px;
}

.search-text {
	padding: 5px;
	margin: 5px;
}

.search-button {
	background-color: #EAEEEF;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
}

.search-button:hover {
	box-shadow: 3px 3px 10px #262626;
}

.search-again {
	font-size: 22px;
}

h3 {
	padding: 15px;
	margin: auto;
	background-color: #67b2ef;
	font-size: 22px;
}

.recipe-section, .playlist-section {
	margin-top: 7%;
	display: inline-block;
	background-color: #EAEEEF;
	opacity: .9;
	height: 600px;
	width: 100%;
}

.js-recipe-results, .js-playlist-results {
	height: 90%;
	overflow: auto;
}

.js-recipe-selection, .js-music-selection {
	max-height: 250px;
	padding: 5px;
}

.recipe-result, .music-result {
	margin: 7%;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
	overflow: hidden;
}	

.recipe-label, .music-label {
	padding: 10px;
	margin: auto;
}

